/* calendar styles */
.block-calendar {
  min-height: 40px;
  width: 100%;
}

#calendar-body {
  position: relative;
  width: 100%;
}

.pretty-calendar-week,
.calendar-daynames {
  font-size: 12px;
  height: 3.2rem;
  margin: 0;
  padding: 0px;
  white-space: nowrap;
  width: 100%;
}

.pretty-calendar-week .pretty-calendar-weekend,
.pretty-calendar-week .pretty-calendar-day,
.calendar-daynames .pretty-calendar-weekend,
.calendar-daynames .pretty-calendar-day {
  display: inline;
  float: left;
  height: 3.2rem;
  overflow: visible;
  text-align: center;
  width: 14%;
}

.pretty-calendar-week .pretty-calendar-weekend,
.calendar-daynames .pretty-calendar-weekend {
  width: 15%;
}

.pretty-calendar-week .calendar-value,
.calendar-daynames .calendar-value {
  float: left;
  height: 20px;
  padding: 2px 0 0;
  text-align: center;
  width: 100%;
}

.calendar-daynames .calendar-value .third-letter {
  display: none;
}

.pretty-calendar-week a {
  color: #000;
  font-weight: bold;
}

.pretty-calendar-week a:hover div {
  color: #fff;
}

.pretty-calendar-week .pretty-calendar-today, .pretty-calendar-week a .calendar-value {
  position: relative;
}

.pretty-calendar-week .pretty-calendar-today .calendar-value:before, .pretty-calendar-week a .calendar-value:before {
  content: '';
  position: absolute;
  left: 2px;
  top: -2px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.pretty-calendar-week .pretty-calendar-today .calendar-value:before {
  border: 1px solid #ff424d;
}

.pretty-calendar-week a .calendar-value:before {
  background-color: #e3e3e3;
  z-index: -1;
}

.calendar-daynames {
  text-transform: uppercase;
}

.pretty-calendar-month {
  height: 24px;
}

.pretty-calendar-month a div {
  text-decoration: none;
}

.pretty-calendar-month {
  font-weight: bold;
  padding-top: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.pretty-calendar-month .month-title {
  padding-top: 2px;
  text-transform: uppercase;
}

.pretty-calendar-month .calendar-prev,
.pretty-calendar-month .calendar-next {
  border: none;
  height: 18px;
  line-height: 18px;
  margin: 2px 0;
  padding: 0;
  position: absolute;
  width: 24px;
}

.pretty-calendar-month .calendar-prev {
  left: 2px;
  top: 5px;
}

.pretty-calendar-month .calendar-next {
  right: 2px;
  top: 5px;
}

.pretty-calendar-month a .calendar-prev {
  background: transparent url("/sites/all/themes/light_skeleton/resources/arrow_left.png") no-repeat 0;
  background-size: contain;
}

.pretty-calendar-month a:hover .calendar-prev {
  background: transparent url("/sites/all/themes/light_skeleton/resources/arrow_left.png") no-repeat 0 0;
  background-size: contain;
}

.pretty-calendar-month a .calendar-next {
  background: transparent url("/sites/all/themes/light_skeleton/resources/arrow_left.png") no-repeat 0;
  background-size: contain;
  transform: rotateY(180deg);
}

.pretty-calendar-month a:hover .calendar-next {
  background: transparent url("/sites/all/themes/light_skeleton/resources/arrow_left.png") no-repeat 0;
  background-size: contain;
  transform: rotateY(180deg);
}

/* calendar loader styles */
.calendar_loader {
  height: 0px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0px;
}

.calendar_loader div {
  background: url("ajax-loader.gif") no-repeat;
  height: 48px;
  margin-left: -24px;
  margin-top: -40px;
  width: 48px;
}

/*# sourceMappingURL=calendar.css.map */
