@media only screen and (min-width: 767px) {
  .container {
    width: 100%;
  }

  .container .column,
  .container .columns {
    margin-left: 1.2%;
    margin-right: 1.2%px;
  }

  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 1.2%;
  }

  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 1.2%;
  }

  .column.alpha.omega,
  .columns.alpha.omega {
    margin-left: 0;
    margin-right: 0;
  }

  .container .one.column {
    width: 4.58333%;
  }

  .container .two.columns {
    width: 10.8333%;
  }

  .container .three.columns {
    width: 17.1%;
  }

  .container .four.columns {
    width: 23.333%;
  }

  .container .five.columns {
    width: 29.583%;
  }

  .container .six.columns {
    width: 35.833%;
  }

  .container .seven.columns {
    width: 42.01%;
  }

  .container .eight.columns {
    width: 48.333%;
  }

  .container .nine.columns {
    width: 54.583%;
  }

  .container .ten.columns {
    width: 60.833%;
  }

  .container .eleven.columns {
    width: 67.1%;
  }

  .container .twelve.columns {
    width: 73.333%;
  }

  .container .thirteen.columns {
    width: 79.583%;
  }

  .container .fourteen.columns {
    width: 85.833%;
  }

  .container .fifteen.columns {
    width: 91.1%;
  }

  .container .sixteen.columns {
    width: 98.333%;
  }

  .container .one-third.column {
    width: 31.666%;
  }

  .container .two-thirds.column {
    width: 65%;
  }

  /* Offsets */
  .container .offset-by-one {
    padding-left: 6.25%;
  }

  .container .offset-by-two {
    padding-left: 12.5%;
  }

  .container .offset-by-three {
    padding-left: 25%;
  }

  .container .offset-by-four {
    padding-left: 50%;
  }

  .container .offset-by-five {
    padding-left: 31.25%;
  }

  .container .offset-by-six {
    padding-left: 37.5%;
  }

  .container .offset-by-seven {
    padding-left: 43.75%;
  }

  .container .offset-by-eight {
    padding-left: 50%;
  }

  .container .offset-by-nine {
    padding-left: 56.25%;
  }

  .container .offset-by-ten {
    padding-left: 62.5%;
  }

  .container .offset-by-eleven {
    padding-left: 68.75%;
  }

  .container .offset-by-twelve {
    padding-left: 75%;
  }

  .container .offset-by-thirteen {
    padding-left: 81.25%;
  }

  .container .offset-by-fourteen {
    padding-left: 87.5%;
  }

  .container .offset-by-fifteen {
    padding-left: 93.75%;
  }
}
#admin-menu {
  box-shadow: none;
}
@media (max-width: 767px) {
  #admin-menu {
    display: none !important;
  }
}

@media (min-width: 767px) {
  .admin-menu .region-sidepanel-left, .admin-menu .region-sidepanel-right {
    top: 30px;
  }

  .navbar, .navbar-spacer {
    margin-bottom: 1rem;
    border: none;
  }

  .sidebar, .page-content {
    padding: 0;
  }
}
.navbar-item {
  float: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.i18n-en .fr-only {
  display: none !important;
}

.i18n-fr .en-only {
  display: none !important;
}

* {
  box-sizing: border-box;
}

a {
  color: #333333;
}
a:hover, a.active {
  color: #333333;
  box-shadow: inset 0 -1px 0px #ff424d;
}

.button {
  background-color: #e3e3e3;
  color: #333333;
  border-radius: 3px;
  padding: 0 1rem;
}
.button.active, .button:hover {
  background-color: #333333;
  color: #ff424d;
}

.views-field-field-type {
  text-transform: uppercase;
  color: #ff424d;
}

.views-field-title, .views-field-field-artists {
  text-transform: uppercase;
}

.concert-actions {
  display: flex;
  justify-content: space-between;
}
.concert-actions .button {
  flex: 0 0 calc(50% - .5rem);
}

html, body {
  max-width: 100vw;
  overflow-x: visible;
  margin: 0;
}

body.has-panel-open {
  overflow-y: hidden;
}

@media (min-width: 400px) {
  .container {
    width: 100vw;
    max-width: 100vw;
  }
}

.region-sidepanel-left, .region-sidepanel-right {
  padding-left: 4.5rem;
  padding-right: 15px;
  top: 0;
  height: 100vh;
  position: fixed;
  overflow: auto;
  z-index: 800;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transition: all .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 767px) {
  .region-sidepanel-left, .region-sidepanel-right {
    width: calc(100vw);
  }
}
@supports (backdrop-filter: blur()) {
  .region-sidepanel-left, .region-sidepanel-right {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  }
}

.region-sidepanel-left {
  left: -100%;
  padding-top: 85px;
}
.region-sidepanel-left.open {
  left: 0;
}

.region-sidepanel-right {
  right: -100%;
}
.region-sidepanel-right.open {
  right: 0;
}

.hamburger {
  z-index: 1000;
}

.side-left .navbar-list {
  display: flex;
  flex-flow: column;
}

.navbar-link {
  color: #333333;
  display: inline-block;
  color: #333333;
}
.navbar-link:hover, .navbar-link.active {
  color: #333333;
  box-shadow: inset 0 -1px 0px #ff424d;
}

.main-menu, .region-main-menu, .navbar-list {
  display: flex;
}

.region-main-menu {
  justify-content: space-around;
}

@media (min-width: 767px) {
  #home-panels .section {
    height: calc(100vh - 85px);
    overflow: auto;
  }
}

.view-display-id-type_in_list_1 {
  float: left;
}

.view-concerts .view-content {
  display: flex;
  flex-flow: column;
}
@media (min-width: 767px) {
  .view-concerts .view-content {
    flex-flow: row wrap;
  }
}
.view-concerts .view-content .views-row {
  padding: 0 15px;
}
@media (min-width: 767px) {
  .view-concerts .view-content .views-row {
    flex-basis: 100%;
  }
}
@media (min-width: 991px) {
  .view-concerts .view-content .views-row {
    flex-basis: 50%;
  }
}
@media (min-width: 1200px) {
  .view-concerts .view-content .views-row {
    flex-basis: 33.333%;
  }
}

.view-id-news.inactive {
  display: none;
}

#filters {
  padding-left: 4.5rem;
  padding-right: 15px;
  top: 0;
  height: 100vh;
  position: fixed;
  overflow: auto;
  z-index: 800;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transition: all .3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  right: -100%;
}
@media (max-width: 767px) {
  #filters {
    width: calc(100vw);
  }
}
@supports (backdrop-filter: blur()) {
  #filters {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  }
}
#filters.open {
  right: 0%;
}
@media (min-width: 767px) {
  #filters {
    right: 0;
    position: static;
    padding: 0;
  }
}

.trigger {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.5rem;
  height: 3rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all .3s ease-in-out;
}
@supports (backdrop-filter: blur()) {
  .trigger {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
  }
}
.trigger.trigger-right {
  background-image: url("/sites/all/themes/light_skeleton/resources/arrow_left.png");
  z-index: 200;
  border-radius: 3px 0 0 3px;
}
@media (min-width: 767px) {
  .trigger.trigger-right {
    display: none;
  }
}
.trigger.is-active {
  position: fixed;
  background-color: transparent !important;
  right: calc(100% - 2.5rem);
  transform: rotateZ(180deg);
}

.webform-component-field-wrapper {
  border: 1px solid #111111;
  padding: 1rem;
}
.webform-component-field-wrapper.webform-component--billets .form-item {
  display: inline-block;
}

/*# sourceMappingURL=application.css.map */
