#admin-menu {
  box-shadow: none; }

.navbar-item {
  float: none; }

img {
  max-width: 100%;
  height: auto; }

.admin-menu .region-sidepanel-left, .admin-menu .region-sidepanel-right {
  top: 30px; }

.region-sidepanel-left, .region-sidepanel-right {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: white;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  transition: all .3s ease-in-out;
  z-index: 200; }

.region-sidepanel-left {
  left: -100%;
  border-right: 1px solid #111111;
  padding-top: 85px; }
  .region-sidepanel-left.open {
    left: 0; }

.region-sidepanel-right {
  right: -100%;
  border-left: 1px solid #111111; }
  .region-sidepanel-right.open {
    right: 0; }

.hamburger {
  z-index: 1000; }

.main-menu, .region-main-menu, .navbar-list {
  display: flex; }

.region-main-menu {
  justify-content: space-around; }

.view-display-id-type_in_list_1 {
  float: left;
  margin: .5rem;
  padding: 1rem;
  width: 25%;
  border: 1px solid #111111; }

.view-concerts .view-content {
  display: flex; }
  .view-concerts .view-content .views-row {
    margin: .5rem;
    padding: 1rem;
    width: 25%;
    border: 1px solid #111111; }

.view-id-news {
  margin: .5rem;
  padding: 1rem;
  width: 25%;
  border: 1px solid #111111;
  float: left; }
  .view-id-news.inactive {
    display: none; }

.trigger.trigger-right {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 5rem;
  background: white;
  border: 1px solid #111111;
  z-index: 200; }
