#filters{
	@include over-panel();
	text-align: center;
	height: calc(100vh - #{$header-height});
	right: -100%;
	[data-panel="filters"] &{
		right: 0%;
	}
	@media #{$md}{
		border-left: solid 1px $black;
		right: 0;
		position: static;
		padding: 0 $padding-xs;
	}

	.button{
		width: 100%;
		font-size: $font-smallest;
		line-height: 1.8;
	}
	z-index: 800;
}

.pane-pretty-calendar-calendar{
	margin-bottom: 3rem;
}
.trigger{
	position: absolute;
	right: 0;
	top: 3rem;
	width: $icon-width;
	height: $icon-height;
	padding: $touch-padding;
	@include backdrop();
	background-repeat: no-repeat;
	background-size: 1rem;
	background-position: center;
	transition: all .15s ease-in-out;
	@media #{$sm}{
		transition: all .3s ease-in-out;
	}
	&.trigger-right{
		background-image: url('/sites/all/themes/light_skeleton/resources/arrow_left.png');
		border-radius: 3px 0 0 3px;
		position: fixed;
		top: 80vh;
		right: auto;
		left: 100%;
		@supports (position:sticky){
			position: sticky;
			top: calc(#{$header-height-xs} + #{$padding-xs}) ;
		}
		transform: rotateY(0);
		@media #{$sm}{
			position: fixed;
			left: auto;
			right: 0;
			top: calc(#{$header-height} + #{4*$padding-xs});
		}
		@media #{$md}{
			display: none;
		}
		z-index: 801;
		&.trigger-close{
			position: fixed;
			background-color: transparent!important;
			background-image: url('/sites/all/themes/light_skeleton/resources/arrow_right.png');
			left: 1rem;
			top: calc(#{$header-height-xs});
			// do not blur as it's already on top of a panel
			@supports (backdrop-filter: blur()){
				background-color: transparent;
				backdrop-filter: none;
			}
			@media #{$sm}{
				position: absolute;
				top: 4rem;
			}
			opacity: 0;
			pointer-events: none;
			[data-panel="filters"] &{
				opacity: 1;
				pointer-events: auto;
				display: inline-block;
			}
			@media #{$sm}{
				opacity: 1;
			}
		}
	}
	[data-panel="filters"] &{
		opacity: 0;
		pointer-events: none;
		@media #{$sm}{
			opacity: 1;
			pointer-events: auto;
			right: -100%;
		}
	}
}

.program{
	text-align: center;
	margin: $padding-xs;
	span{
		display: block;
	}
	&:before{
	  content: '';
	  display: inline-block;
	  width: 100%;
	  height: 12rem;
	  margin: auto;
	  background-image: url(/sites/all/themes/light_skeleton/resources/program-cover@2x.png);
	  background-size: contain;
	  background-position: center;
	  background-repeat: no-repeat;
	}
}