#filters{
	@include over-panel();
	right: -100%;
	&.open{
		right: 0%;
	}
	@media #{$tablet}{
		right: 0;
		position: static;
		padding: 0;
	}
}

.trigger{
	position: absolute;
	right: 0;
	top: 0;
	width: $icon-width;
	height: $icon-height;
	padding: $touch-padding;
	@include backdrop();
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	transition: all .3s ease-in-out;
	&.trigger-right{
		background-image: url('/sites/all/themes/light_skeleton/resources/arrow_left.png');
		z-index: 200;
		border-radius: 3px 0 0 3px;
		@media #{$tablet}{
			display: none;
		}
	}
	&.is-active{
		position: fixed;
		background-color: transparent!important;
		right: calc(100% - #{$icon-width});
		transform: rotateZ(180deg);
	}
}