// http://stackoverflow.com/a/38846051/1312825
.fixed-fix {
    position:fixed;
    top:-1px; 
    height:1px; 
    width:100%; 
    background:white;
}

// allow types buttons to be on two lines
#filters{
	.button{
		display: inline-table;
		white-space: normal;
	}
}

// static page
.panel-col-first, .panel-col-last{
	@media #{$mobile}{
		width: 100%;
	}
}

@media #{$md}{
	// Musicians
	.page-node-115{
		h2:nth-of-type(3), h2:nth-of-type(7), h2:nth-of-type(12) {
		    -webkit-column-break-before: always;
		}
		.mozilla &{
			p:last-child{
				padding-bottom: 60px;
			}
			h2:nth-of-type(10){
				padding-top: 2px;
			}
		}
	}

	.page-node-116{
		h2:nth-of-type(2) {
		    -webkit-column-break-before: always;
		}
		.mozilla &{
			p:nth-of-type(1){
				padding-bottom: 50px;
			}
		}
	}
}


// make prices appear not a field
#edit-submitted-abonnement-tarif{
	outline: none;
	border: none;
}

// put type and concert number inline
.field-name-field-type, .field-name-field-concert-number{ 
	&, div {
		display: inline;
	}
}

// make LES CONCERTS menu item active
[data-mid="219"], [data-mid="583"] .navbar-link{
	.node-type-concert &, .page-reserver &{
		color: $black;
		box-shadow: inset 0 -1px 0px $brand-color;
	}
}

@media #{$mobile}{
	.has-panel-open{
		.replace-content{
			pointer-events: none,
		}
	}
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
  .view-concerts .views-row{display: block!important;}
  .page-abonnements #edit-abonnes-0-table td{display: block!important}
  .webform-component--billets .webform-component-number select{max-width: 100px!important;}
	#filters{
		.view-header .button{
			white-space: normal;
		}
	}

}
