// allow types buttons to be on two lines
.view-types-list .view-content{
	.button{
		white-space: pre-wrap;
	}
}


// static page
.panel-col-first, .panel-col-last{
	@media #{$mobile}{
		width: 100%;
	}
}

// make prices appear not a field
#edit-submitted-abonnement-tarif{
	outline: none;
	border: none;
}