// http://stackoverflow.com/a/38846051/1312825
.fixed-fix {
    position:fixed;
    top:-1px; 
    height:1px; 
    width:100%; 
    background:white;
}

// allow types buttons to be on two lines
#filters{
	.button{
		display: inline-table;
		white-space: pre-wrap;
	}
}


// static page
.panel-col-first, .panel-col-last{
	@media #{$mobile}{
		width: 100%;
	}
}

// make prices appear not a field
#edit-submitted-abonnement-tarif{
	outline: none;
	border: none;
}