.page-concerts{
	.left-column.section{
		padding-bottom: 0px;
	}
	.view-concerts{
		@extend .row;
		.item-list{
			display: none;
		}

		// fix position sticky motherfucking spacing
		@media #{$mobile}{
			@supports (position:sticky){
				margin-top: -3rem;
			}
		}
	}
	.view-concerts .view-content{
		display: flex;
		flex-flow: column;
		@media #{$tablet}{
			flex-flow: row wrap;
		}

		.node-concert{
			@extend .col-sm-6;
			@extend .col-md-12;
			@extend .col-lg-6;
			display: inline-flex;
			flex-flow: column;
			justify-content: space-around;
			@media #{$sm}{
				// only first 2 elements should have 0
				margin-top: 2rem;
		    &:first-child, &:nth-child(2){
		    	margin-top: 0;
		    }
		  }
		  @media #{$sm}{
		    // only first 2 elements should have 0
		    margin-top: 2rem;
		    &:first-child, &:nth-child(2){
		    	margin-top: 0;
		    }
		  }
			@media #{$lg}{
				// only first 2 elements should have 0
				margin-top: 2rem;
				&:first-child, &:nth-child(2){
					margin-top: 0;
				}
			}
			}
		.button, .buy-button{
			@media #{$md}{
				margin-bottom: 1rem;
			}
			@media #{$lg}{
				margin-bottom: 0;
			}
		}
		.buy-button{
			width: 100%;
		}
	}
}


.view-id-news{
	&.inactive{
		display: none;
	}
	@include full-height-element($outer: '.views-row', $inner: '.news', $stacked: true);
	.news{
		position: relative;
	}
	.info{
		background: $white;
		position: absolute;
		bottom: $padding-xs;
		left:  2*$padding-xs;
		max-width: 400px;
		width: 75%;
		min-height: 8rem;
		border-radius: $border-radius;
		padding: .5*$padding-xs $padding-xs;
	}
	.title{
		text-transform: uppercase;
		color: $brand-color;
		font-size: $font-smallest;
	}
	.subtitle{
		font-weight: $bolder;
	}
	.owl-dots{
		position: absolute;
		bottom: $padding-xs;
		left: calc(#{2.5*$padding-xs} + 5px);	
		@media #{$tablet}{
			bottom: $padding-xs;
		}
		@media #{$md}{
			bottom: 3*$padding-xs;
		}
	}

	.info, .owl-dots{
		opacity: 1;
		transition: all .4s ease-in-out;
	}
	.owl-carousel:active, .owl-item:not(.active){
		.info, .owl-dots{
			opacity: 0;
		}
	}
}

.page-node.node-type-concert{
	.owl-dots{
		display: none;
	}
}

.view-types .views-field-name{
	text-transform: uppercase;
	color: $brand-color;
}

//=========== filters on

.field-name-node-link{
	a{
		@extend .button;
		display: inline-block;
	}
}
.group-buttons{
	@include gapped-buttons();
  align-items: flex-end;
  margin-top: 1rem;
	@media (min-width: 1200px) and (max-width:1300px){
		flex-direction: column;
		> *{
			min-width: 100%;
		}
		.button{
			margin-bottom: 1rem;
		}
	}
}


//============= CUSTOM TYPOGRAPHY
.view-concerts 
{
	.field-name-field-date {
		font-weight: $bold;
		font-size: $font-small;
		align-items: flex-end;
		display: flex;
		flex-grow: 10;
	}
	.field-name-title h2{
		font-weight: $bold;
		font-size: $font-large;
		text-transform: uppercase;
		letter-spacing: $letter-spacing-large;
		margin-bottom: 0;
	}
	.field-name-field-artists{
		margin-bottom: 1rem;
	}
	.node-artist{
		margin-bottom: .3rem;
		h3{
			font-size: $font-smallest;
			margin-bottom: 0;
		}
		.field-name-field-instrument{
			font-size: $font-smallest;
			line-height: $font-smallest;
		}
	}
}