.section{
	@media #{$tablet}{
		height: calc(100vh - #{$header-height});
		// padding-top: $header-height;
		overflow: auto;
	}
	.inactive + .columns{
		margin-left: 0%!important;
	}
}


.view-display-id-type_in_list_1{
	float: left;
}

.view-concerts .view-content{
	display: flex;
	flex-flow: column;
	@media #{$tablet}{
		flex-flow: row wrap;
	}
	.views-row{
		@media #{$sm}{
			flex-basis: 100%;
		}
		@media #{$lg}{
			flex-basis: 100%;
		}
		@media #{$lg}{
			flex-basis: 50%;
		}
		padding: 0 $padding-xs;
	}
}

.view-id-artist_from_concert.view-display-id-panel_pane_2{
	@include full-height-element($outer: '.views-row', $inner: '.carousel-item');
}

.view-id-news{
	&.inactive{
		display: none;
	}

	@include full-height-element($outer: '.views-row', $inner: '.news');
	.info{
		background: $white;
		position: absolute;
		bottom: 3*$padding-xs;
		left:  2*$padding-xs;
		padding: $padding-xs $padding-xs 2*$padding-xs $padding-xs;
	}
	.title{
		text-transform: uppercase;
		color: $brand-color;
	}
	.subtitle{
		font-weight: bold;
	}
	.owl-dots{
		position: absolute;
		bottom: 3*$padding-xs;
		left: calc(#{3*$padding-xs} - 5px);	
	}
}
