@mixin concert-item(){
	margin: .5rem;
	padding: 1rem;
	width: 25%;
	border: 1px solid $border-color;
}

.view-display-id-type_in_list_1{
	float: left;
	@include concert-item();
}
#home-concert-list{
	padding-right: $filter-trigger-width;
}
.view-concerts .view-content{
	display: flex;
	.views-row{
		@include concert-item();
	}
}

.view-id-news{
	@include concert-item();
	float: left;
	&.inactive{
		display: none;
	}
}