body .vertical-tabs{
	display: flex;
	flex-flow: column;
	margin: 0;
	border: none;
	background-color: none;
}

.vertical-tabs {
	ul.vertical-tabs-list, ul.vertical-tabs-panes{
		flex-basis: 100%;
		width: auto;
		margin: 0;
		padding: $padding-xs 0;
	}
	fieldset.vertical-tabs-pane{
		padding: 0;	
	}
	ul.vertical-tabs-list{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		border-top: none;
		@include gapped-buttons($child-selector: 'li');
		li.vertical-tab-button{
			flex-grow: 1;
			border-radius: $border-radius;
			background-color: $light-grey;
			border: none;
			&.selected, &:hover{
				background-color: $black;
				color: $brand-color;
			}
			a{
				text-decoration: none;
				display: inline-block;
				width: 100%;
				height: 100%;
				&:hover{
					text-decoration: none;
					outline: none;
				}
			}
			a, strong{
				font-weight: normal;
				color: inherit;
			}
		}
	}
}