html, body{
	max-width: 100vw;
	overflow-x: visible;
	margin: 0;
}

body.has-panel-open{
	overflow-y: hidden;
}
.container{
	@media (min-width: 400px){
		width: 100vw;
		max-width: 100vw;
	}
}
.section-container{
	.section:not(:first-child){
		padding-top: 1.5rem;
		@media #{$tablet}{
			padding-top: 0;
		}
	}
}
.region-sidepanel-left, .region-sidepanel-right{
	@include over-panel();
	padding-bottom: $padding-xs;
}

.region-sidepanel-left{
	min-width: 290px;
	@media #{$tablet}{
		padding-top: 3rem;
	}
	left: -100%;
	&.open{
		left: 0;
	}
}	

.region-sidepanel-right{
	right: -100%;
	&.open{
		right: 0;
	}
}	


.hamburger{
	z-index: 1000;
	margin-left: 1rem;
	.hamburger-box{
		width: 1.71rem;
	}
	.hamburger-inner{
		&, &:before, &:after{
			width: 1.71rem;
		}
		&:before{
			top: -8px;
		}
		&:after{
			bottom: -8px;
		}
	}
}