html, body{
	max-width: 100vw;
	overflow-x: visible;
	margin: 0;
}

.container{
	@media (min-width: 400px){
		width: 100vw;
		max-width: 100vw;
	}
}

.region-sidepanel-left, .region-sidepanel-right{
	top: 0;
	bottom: 0;
	overflow: auto;
	background: $background-color;
	padding: 1rem;
	
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	transition: all .3s ease-in-out;
	z-index: 200;
}

.region-sidepanel-left{
	left: -100%;
	position: fixed;
	border-right: 1px solid $border-color;
	padding-top: $header-height;
	&.open{
		left: 0;
	}
}	

.region-sidepanel-right{
	right: -100%;
	border-left: 1px solid $border-color;
	@extend .column;
	@extend .four	;
	&.open{
		right: 0;
	}
}	


.hamburger{
	z-index: 1000;
}