html, body{
	max-width: 100vw;
	overflow-x: visible;
	margin: 0;
}

.has-panel-open, .has-panel-open body{
	overflow-y: hidden;
}
.container{
	@media (min-width: 400px){
		width: 100vw;
		max-width: 100vw;
	}
}
.section-container{
	.section:not(:first-child){
		padding-top: 1.5rem;
		@media #{$tablet}{
			padding-top: 0;
		}
	}
}
.region-sidepanel-left, .region-sidepanel-right{
	@include over-panel();
	padding-bottom: $padding-xs;
}

.region-sidepanel-left{
	padding-top: $padding-large;
	padding-bottom: $padding-large;
	@media #{$tablet}{
		min-width: 500px;
	}
	left: -100%;
	[data-panel="region-sidepanel-left"] &{
		left: 0;
	}
}	

.region-sidepanel-right{
	right: -100%;
	[data-panel="filters"] &{
		right: 0;
	}
}	

.container .main-menu{
	position:fixed;
	top: 0;
	z-index: 500;
	background: $white;
}
body{
	padding-top: $header-height-xs; 
}
@media #{$tablet}{
	.container .main-menu{
		position:fixed;
		width: 100%;
	}
	body{
		padding-top: 0; 
	}
}

.region-sidepanel-left{
	z-index: 850;
}

@mixin full-height-section($height: 100vh){
	height: calc(#{$height} - #{$header-height});
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.section{
	padding-bottom: 2*$padding-large;
	@media #{$sm}{
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	@media #{$md}{
		@include full-height-section($height: '100vh');
	}
}
.left-container{
	@media #{$sm}{
		@include full-height-section();
		.center-column{
			margin-top: $margin-xs;
		}
	}
	@media #{$md}{
		height: auto;
		overflow: visible;
		.center-column{
			margin-top: 0;
		}
	}
}

.hamburger{
	z-index: 1000;
	margin-left: calc(#{$padding-container-mobile} - #{$touch-padding});
	.hamburger-box{
		width: 1.71rem;
	}
	.hamburger-inner{
		&, &:before, &:after{
			width: 1.71rem;
			background: $black;
		}
		&:before{
			top: -8px;
		}
		&:after{
			bottom: -8px;
		}
	}
	
	// centerv ertically on mobile
	padding: $touch-padding $touch-padding 7px $touch-padding;
	
	@media #{$tablet}{
		padding: $touch-padding;
	}
}
[data-panel="region-sidepanel-left"] .hamburger-inner{
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transform: rotate(45deg);
	&:before{
		top: 0;
		opacity: 0;
		transition: top 75ms ease,opacity 75ms ease .12s
	}
	&:after{
		bottom: 0;
		transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
		transform: rotate(-90deg);
	}
}