.navbar-list{
	.navbar-item{
		width: auto;
		display: inline-block;
	}
	.navbar-link{
		font-size: $font-large;
	}
}
.menu{
	display: flex;
	flex-flow: column;
}

.side-left{
	.navbar-list{
		display: flex;
		flex-flow: column;
	}
}

.navbar-link{
	color: $black;
	display: inline-block;
	@include underlined-link();
	line-height: 2.5rem;
}

.main-menu{
	padding: 16px 0;
}

.main-menu, .region-main-menu, .main-menu .navbar-list{
	display: flex;
	align-items: center;
	.navbar{
		flex: 1 0 auto;
		justify-content: flex-start;
		li:not(:first-child){
			margin-left: $margin-xs;
		}
	}
}

#block-system-main-menu{
	width: 100%;
}
#navigation{
	@media #{$tablet}{
	}
}

.region-main-menu{
	justify-content: space-around;
}


//=========== LOCALES

.language-switcher-locale-url{
	display: none!important;
	text-transform: uppercase;
	display: flex;
	li{ 
		display: inline-block;
		a{
			padding: $padding-xs .5*$padding-xs;
		}
	}
	.sidepanel &{
		li{
			&:first-child:after{
				content: '/';
				padding-left: .5*$padding-xs;
			}
			&:last-child{
				padding-left: 0;
			}
		}
	}
	.main-menu &{
		position: relative;
		li.active{
			background: $white;
			z-index: 100;
			position: relative;
		}
		&:hover li:not(.active){
			transform: translateX(-100%);	
		}
		li:not(.active){
			position: absolute;
			z-index: 0;
			transition: all .2s ease-in-out;
		}
	}
}

//============ SOCIAL
.block-social-media-links .horizontal li, .pane-social-media-link-widget .horizontal li{
	max-width: 4rem;
	@media #{$tablet}{
		max-width: 3rem;
	}
}

//============ CONTACT
#block-block-1{
	p{
		margin-bottom: 0;
	}
}

// mobile
.show-menu, .stop-exit, #show-menu{
	display: none;
}
.js #menu{
	display: flex;
}

.main-menu .navbar{
	display: none;
}
.logo{
	padding-right: $padding-container-mobile;
	@media #{$tablet}{
		margin-left: 4rem;
		max-width: 10rem;
	}
}

