.navbar-list{
	.navbar-item{
		width: auto;
		display: inline-block;
		text-transform: uppercase;
	}
	.navbar-link{
		font-size: $font-large;
	}
}
.menu{
	display: flex;
	flex-flow: column;
}

.side-left{
	.navbar-list{
		display: flex;
		flex-flow: column;
	}
}

.navbar-link{
	color: $black;
	display: inline-block;
	@include underlined-link();
	line-height: 2.5rem;
}

.main-menu{
	padding: 16px 0;
	@media #{$tablet}{
		padding: 19px 0;
	}
}

.main-menu, .region-main-menu, .main-menu .navbar-list{
	display: flex;
	align-items: center;
	.navbar{
		flex: 1 0 auto;
		justify-content: flex-start;
		li:not(:first-child){
			margin-left: $padding-large;
			@media #{$md}{
				margin-left: 2*$padding-large;
			}
		}
	}
}

.region-sidepanel-left{
	padding-left: 5rem;	
	@media #{$sm}{
		padding-left: 3.5rem;	
	}
	@media #{$md}{
		padding-left: 8rem;	
	}
}
#block-system-main-menu{
	width: 100%;
}


.region-main-menu{
	justify-content: space-around;
	.region-main-menu{
		flex-grow: 1;
	}
}

#main-menu-top{
	padding-right: $padding-container-mobile;
	margin-left: -$padding-container-mobile;
}
//=========== LOCALES

.language-switcher-locale-url{
	display: none!important;
	.logged-in &{
		display: flex!important;
	}
	text-transform: uppercase;
	display: flex;
	li{ 
		display: inline-block;
		a{
			padding: $padding-xs .5*$padding-xs;
		}
	}
	.sidepanel &{
		li{
			&:first-child:after{
				content: '/';
				padding-left: .5*$padding-xs;
			}
			&:last-child{
				padding-left: 0;
			}
		}
	}
	.main-menu &{
		position: relative;
		margin-left: 3rem;
		li.active{
			background: $white;
			z-index: 100;
			position: relative;
			margin-left: 0;
		}
		&:hover li:not(.active){
			transform: translateX(-100%);	
		}
		li:not(.active){
			position: absolute;
			z-index: 0;
			transition: all .2s ease-in-out;
		}
	}
}

//============ SOCIAL
.block-social-media-links{
	margin-top: 3rem;
}
.block-social-media-links .horizontal li, .pane-social-media-link-widget .horizontal li{
	max-width: 3.5rem;
	@media #{$tablet}{
		max-width: 3rem;
	}
}

//============ NEWSLETTER
input[type="submit"].button{
	@include button($color: $brand-color);
	width: auto;
}

//============ CONTACT
#block-block-1, #block-block-2 label{
	font-size: $font-small;
}
#block-block-1{
	p{
		margin-bottom: 0;
	}
}

// mobile
.show-menu, .stop-exit, #show-menu{
	display: none;
}
.js #menu{
	display: flex;
}

.main-menu .navbar{
	display: none;
	@media #{$sm}{
		display: inline-flex;
	}
}
.logo{
	padding-right: 2*$padding-container-mobile;
	margin-left: 1rem;
	@media #{$sm}{
		margin-right: $padding-large;
		max-width: 10rem;
	}
	@media #{$md}{
		margin-left: 4rem;
		margin-right: 3*$padding-large;
		max-width: 10rem;
	}
}

