.page-partners{
  .panel-1col li.first{
    @extend .col-xs-12;
  }
  .partner-group-container{
    margin-bottom: 3*$padding-xs;
  }
  .partner-group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -30px;
    &:after{
      content: '';
      flex-grow: 10;
    }
    > div{
      padding: 0 30px;
      flex: 0 0 50%;
      @media #{$tablet}{
        margin-bottom: .5rem;
        flex: 0 0 20%;
        display: inline-flex;
        align-items: center;
        > div{
          width: 100%;
        }
      }
      @media #{$md}{
        flex: 0 0 15%;
      }
      @media #{$lg}{
        flex: 0 0 10%;
      }
    }
  }
  h3{
    font-size: $font-small;
    border-bottom: 1px solid $black;
    text-transform: uppercase;
    padding-bottom: $padding-xs;
  }
  .partner{
    text-align: center;
    line-height: 100px;
    max-height: 100px;
    img{
      vertical-align: middle;
      // max-height: 80px;
      width: 100%;
      display: inline-block;
    }
  }
}
