.page-partners{
  .panel-2col{
    width: 100%;
    @extend .row;
  }
  .panel-col-first{
    @extend .col-xs-12;
    @extend .col-sm-4;
    @extend .section;
  }
  .panel-col-last{
    @extend .col-xs-12;
    @extend .col-sm-8;
    @extend .section;
  }

  .partner-group-container{
    margin-bottom: 3*$padding-xs;
    @media #{$mobile}{
      padding: 0;
    }
  }
  .partner-group{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -30px;
    > div{
      padding: 0 30px;
      flex: 0 0 50%;
      @media #{$tablet}{
        flex: 0 0 20%;
      }
      @media #{$md}{
        flex: 0 0 33.33333%;
      }
      @media #{$lg}{
        flex: 0 0 25%;
      }
    }
  }
  h3{
    font-size: $font-small;
    border-bottom: 1px solid $black;
    text-transform: uppercase;
    padding-bottom: $padding-xs;
  }
  .partner{
    text-align: center;
    line-height: 100px;
    max-height: 100px;
    img{
      vertical-align: middle;
      max-height: 80px;
      width: auto;
      display: inline-block;
    }
  }
}
