#admin-menu{
	box-shadow: none;
	@media #{$mobile}{
		display: none!important;
	}
	input[type="text"]{
		height: 18px;
	}
}
@media #{$tablet}{
	.admin-menu{
		.region-sidepanel-left, .region-sidepanel-right{
			top: calc(30px + $header-height);
		}
	}

	.navbar, .navbar-spacer{
		margin-bottom: 0;
		border-bottom: none;

	}
	.sidebar, .page-content{
		padding: 0;
	}
}
.navbar-item{
	float: none;
}
img{
	max-width: 100%;
	height: auto;
}

ul{
	list-style: none;
}

body fieldset{
	background: none;
	box-shadow: none;
}
.field-collection-container{
	border: none;
}

.i18n-en .fr-only{
	display: none!important;
}
.i18n-fr .en-only{
	display: none!important;
}

*{
	box-sizing: border-box;
}
