a, a:hover{
	text-decoration: none;
}


#admin-menu{
	box-shadow: none;
	@media #{$mobile}{
		display: none!important;
	}
	input[type="text"]{
		height: 18px;
	}
}
@media #{$mobile}{
	html body.admin-menu{
		margin-top: 0px!important;
	}
}
h2{
	font-size: $font-large;
	margin-bottom: 1rem;
}
h1,h2,h3{
	letter-spacing: $letter-spacing-large;
	margin-bottom: 1rem;
}
@media #{$tablet}{
	.admin-menu{
		.region-sidepanel-left, .region-sidepanel-right{
			top: calc(30px + #{$header-height});
		}
	}

	.navbar, .navbar-spacer{
		margin-bottom: 0;
		border-bottom: none;

	}
	.sidebar, .page-content{
		padding: 0;
	}
}
.navbar-item{
	float: none;
}
img{
	max-width: 100%;
	height: auto;
}

ul{
	list-style: none;
	margin-bottom: 0;
}

body fieldset{
	background: none;
	box-shadow: none;
}
.field-collection-container{
	border: none;
}

.i18n-en .fr-only{
	display: none!important;
}
.i18n-fr .en-only{
	display: none!important;
}

.sidebar, .page-content{
	padding-top: 0px;
}
*{
	box-sizing: border-box;
}

// body nav li a {
//   display: block;
//   min-width: auto;
//   height: auto;
//   text-align: left;
//   line-height: auto;
//   background: none;
//   text-decoration: none;
//   background-color: none;
//   border: none;
//   box-shadow: none;
// }
