
.node-type-page .page-content{
	@extend .row;
	.field-name-field-main-image{
		@extend .full-width;
	}
}

.view-geca .views-row{
	@extend .col-xs-12;
	@extend .col-sm-6;
	@extend .col-md-4;
	text-align: center;
	h1{
		padding-top: $padding-xs;
		font-size: $font-small;
		text-transform: uppercase;
		font-weight: $bold;
	}
	margin-bottom: $padding-large;
}