.group-left, .group-right{
	@extend .section;
}

.page-menu .panel-1col{
	@extend .col-xs-12;
	ul{
		@extend .row;
	}
	li{
		margin-bottom: 3rem;
	}
	h3{
		margin-top: 1.5rem;
		font-size: $font-small;
		text-align: center;
		font-weight: $bold;
		text-transform: uppercase;
	}
	#menu{
		display: block;
	}
}

.node-type-page .page-content{
	h2{
		color: $brand-color;
		font-size: inherit;
		margin-bottom: 0;
	}
	@extend .row;
	.field-name-field-main-image{
		@extend .full-width;
	}
}

.view-geca .views-row{
	@extend .col-xs-12;
	@extend .col-sm-6;
	@extend .col-md-4;
	text-align: center;
	h1{
		padding-top: $padding-xs;
		font-size: $font-small;
		text-transform: uppercase;
		font-weight: $bold;
	}
	margin-bottom: $padding-large;
}


@media #{$sm}{
	.field-name-body{

		// page comité
		.page-node-116 &, .page-node-115 &{
			column-count: 2;	
			line-height: 1.42;
		}
		@media #{$md}{
			// page musiciens
			.page-node-115 &{
				column-count: 4;
			}
		}
	}
}