a, a:hover{
	color: $black;
}

.node-content a{
	text-decoration: none;
	color: $brand-color;
	&:hover{
		color: $black;
	}
}
.menu a{
	@include underlined-link();
}


.button{
	@include button();
}
.button-small{
	@include mini-button();
}
//============== owl

body .owl-theme .owl-dots .owl-dot.active span, body .owl-theme .owl-dots .owl-dot:hover span{
	background: $brand-color;
}
body .owl-theme .owl-dots .owl-dot span{	
	background: $black;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}

//============== overall
.pane-title, .month-title{
	font-size: $font-small;
	font-weight: $bold;
}

//============== custom

.view-id-artist_from_concert.view-display-id-panel_pane_2{
	@include full-height-element($outer: '.views-row', $inner: '.carousel-item');
}

.node-concert{
	position: relative;
	width: 100%;
}
.flippy{
	li{
		position: absolute;
    font-size: 2rem;
    line-height: 1;
    top: -17px;
    font-weight: $bold;
    a{
    	padding: 0 10px;
    }
    // magic number that leaves space for the type
    &.prev{
    	left: 0%;
    }
    &.next{
    	right: 0%;
    }
	}
}


.node-type-concert .section.center{
	text-align: center;
}

.pane-artist-from-concert-panel-pane-1 .pane-title{
	text-transform: uppercase;
	text-align: center;
}

.field-name-title{
	h1{
		font-size: $font-xlarge;
		font-weight: $bold;
		letter-spacing: $letter-spacing-large;
	}
}
.field-name-field-date{
	font-weight: $bold;
}
.field-name-field-program{
	text-align: center;
	border: none;	
	margin: $padding-xs auto 0;
	.field-name-field-compositor{
		font-size: $font-smallest;
		text-transform: uppercase;
	}
	.field-name-field-pieces{
		font-weight: $bold;
	}
	.field-name-field-mention-1 {
		font-size: $font-smallest;
		text-transform: uppercase;
		color: $brand-color;
	}
}
.group-type-and-number .field {
    display: inline;
    .i18n-en &.field-name-field-concert-number .field-item:before{
    	content: "n°";
    	display: inline;
    }
    .i18n-fr &.field-name-field-concert-number .field-item:before{
    	content: "#";
    	display: inline;
    }
}
.field-name-field-type, .field-name-field-concert-number{
	text-transform: uppercase;
	color: $brand-color;
	font-size: $font-small;
	letter-spacing: $letter-spacing-large;
}

.group-type-and-number{
	margin-bottom: 1rem;
}
.field-name-field-concert-number{
	padding-left: .3rem
}

// 
.buy-link{
	display: inline-block;
}

.field-name-field-tickets .button{
	color: $brand-color;
}
.field-name-field-tickets .buy-button{
	@include button($color: $brand-color);
	width: auto;
}
.node-type-concert .button, .node-type-concert .buy-button{
	min-width: 150px;
	margin-top: 1rem;
}

.field-name-field-artists, .field-name-field-director{
	font-style: italic;	
	text-transform: uppercase;
}
.field-name-field-instrument, .views-field-field-instrument {
	font-style: italic;
	text-transform: lowercase;
}

.field-collection-item-field-program{
	margin: 0rem auto 1rem;
}



.field-name-field-recommendation{
	margin-top: 3rem;
	.node{
		margin: auto;
	}
	h2{
		font-size: $font-smallest;
		text-transform: uppercase;
	}
	.field-label{
		font-size: $font-smallest;
		font-weight: normal;

	}
}


.prices-pdfs{
	a{
		@include mini-button();
	}
}

.right-col{
	.field-name-field-recommendation{
		display: block;	
    text-align: center;
		@media #{$md}{
			display: none;
		}
	}
}
.node{
	.field-name-field-recommendation{
		display: none;
		@media #{$md}{
			display: inline-block;	
		}
	}
}

// ARTISTS
.vertical-tabs-list{
	font-style: italic;
}

.node-type-artist{
	.page-content{
		@extend .row;
	}
	.field-name-field-main-image{
		@extend .full-width;
	}
	.field-name-field-title h1{
		margin-bottom: 0;
	}
	.field-name-field-instrument{
		margin-bottom: $padding-xs;
	}
}
