@mixin underlined-link(){
	color: $black;
	&:hover, &.active{
		color: $black;
		box-shadow: inset 0 -1px 0px $brand-color;
	}
}

a, a:hover{
	color: $black;
}

.node-content a{
	text-decoration: none;
	color: $brand-color;
	&:hover{
		color: $black;
	}
}
.menu a{
	@include underlined-link();
}

@mixin button(){
	background-color: $light-grey;
	color: $black;
	border-radius: $border-radius;
	padding: 0 1rem;
	border: none;
	&.active, &:hover{
		background-color: $black;
		color: $brand-color;
		box-shadow: none;
	}
}

.button{
	@include button();
}

//============== owl

body .owl-theme .owl-dots .owl-dot.active span, body .owl-theme .owl-dots .owl-dot:hover span{
	background: $brand-color;
}
body .owl-theme .owl-dots .owl-dot span{	
	background: $black;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}

//============== custom

.node-type-concert .section.center{
	text-align: center;
}

.pane-artist-from-concert-panel-pane-1 .pane-title{
	text-transform: uppercase;
	text-align: center;
}

.field-name-field-program{
	text-align: center;
}
.field-collection-view{
	border: none;	
	margin: auto;
	.field-name-field-compositor{
		font-size: .9em;
	}
}

.field-name-field-recommendation{
	.node{
		margin: auto;
	}	
}

.prices-pdfs{
	margin-bottom: 1rem;
	a{
		display: inline-block;
		border: solid 1px $dark-grey; 
		color: $dark-grey;
		border-radius: $border-radius;
		padding: 2px 15px;
		&:hover{
			background-color: $dark-grey;
			color: $white;
		}
	}
}