//================= VARIABLES
$mobile                 : "(max-width: 767px)";
$portrait               : "(orientation: portrait)";
$landscape              : "(orientation: landscape)";
$xs                     : $mobile;
$tablet                 : "(min-width: 767px)";
$sm                     : $tablet;
$md                     : "(min-width: 991px)";
$lg                     : "(min-width: 1200px)";
$xlg                     : "(min-width: 1500px)";

$padding-xs: 15px;
$margin-xs: 15px;





$header-height: 65px;
$icon-width: 2.5rem;
$icon-height: 3rem;

$touch-padding: 2rem;

$border-radius: 3px;

//================= COLORS
$background-color: white;
$border-color: #111;
$black: #333333;
$white: #FFF;
$dark-grey: #95989A;
$light-grey: #E3E3E3;
$brand-color: #FF424D;

//================= MIXINS
@mixin padding(){
	padding: 1rem;
}

@mixin backdrop(){
	background-color: rgba(255,255,255,.7);
	@supports (backdrop-filter: blur()){
		background-color: rgba(255,255,255,.6);
		backdrop-filter: blur(5px);
	}
}

@mixin over-panel(){
	$over-panel-padding-left: $touch-padding + $icon-width;
	padding-left: $over-panel-padding-left;
	padding-right: $padding-xs;
	top: $header-height;
	position: fixed;
	height: calc(100vh - #{$header-height});
	@media #{$mobile}{
		height: 100vh;
		width: calc(100vw);
		top: 0;
	}
	overflow: auto;
	z-index: 800;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	transition: all .3s ease-in-out;
	@include backdrop();
}

@mixin full-height-element($outer: '.views-row', $inner: '.carousel-item'){
	#{$outer}{
		height: 70vh;
		@media #{$md}{
			height: calc(100vh - #{$header-height});
			padding: 0 0 2*$padding-xs 0;
		}
	  width: 100%;
	}
	#{$inner}{
		background-size: cover;
    background-position: center;
    display: inline-block;
		width: 100%;
		height: 100%;
	}
}

@mixin gapped-buttons($gap: 5px, $flex: 0 0 auto,$child-selector: '> *'){
	justify-content: space-between;
	display: flex;
	margin-left: -$gap;
	margin-right: -$gap;
	#{$child-selector}{
		margin-left: $gap;
		margin-right: $gap;
		flex: #{$flex};
	}
}