//================= VARIABLES
$mobile                 : "(max-width: 767px)";
$portrait               : "(orientation: portrait)";
$landscape              : "(orientation: landscape)";
$xs                     : $mobile;
$tablet                 : "(min-width: 767px)";
$sm                     : $tablet;
$md                     : "(min-width: 1120px)";
$lg                     : "(min-width: 1400px)";
$xlg                     : "(min-width: 1500px)";

$padding-container-mobile: 23px;
$padding-container-sm: 15px;

$padding-xs: 15px;
$padding-large: 1.5rem;
$margin-xs: 15px;

$letter-spacing-small: .05rem;
$letter-spacing-large: .1rem;

$font-smallest: .75rem; // 10
$font-small: .875rem; //12
$font-normal: 1rem; //14
$font-large: 1.1428rem; // 
$font-xlarge: 1.375rem;

$bold: 600;
$bolder: 800;

$header-height-xs: 85px;
$header-height: 101px;
$icon-width: 2rem;
$icon-height: 2rem;

$touch-padding: 1rem;

$border-radius: 3px;

//================= COLORS
$background-color: white;
$border-color: #111;
$black: #333333;
$white: #FFF;
$dark-grey: #777777;
$light-grey: #E3E3E3;
$brand-color: #FF424D;

//================= MIXINS
@mixin padding(){
	padding: 1rem;
}

@mixin backdrop(){
	background-color: rgba(255,255,255,.9);
	@supports (backdrop-filter: blur()){
		background-color: rgba(255,255,255,.7);
		backdrop-filter: blur(8px);
	}
}

@mixin over-panel(){
	// padding-left: calc(#{$padding-container-mobile} + #{$icon-width} + #{2*$touch-padding});
	padding-left: 4.1rem;
	padding-right: $padding-xs;
	top: $header-height;
	position: fixed;
	height: calc(100vh - #{$header-height});
	padding-bottom: 2*$margin-xs;
	@media #{$mobile}{
		height: 100vh;
		height: calc(100vh - #{$header-height-xs});
		width: calc(100vw);
		top: $header-height-xs;
	}
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	transition: all .3s ease-in-out;
	@include backdrop();
}

@mixin full-height-element($outer: '.views-row', $inner: '.carousel-item'){
	#{$outer}{
		height: 120.5vw;
		@media #{$tablet}{
			// height: calc(100vh - #{$header-height});
			height: 60vh;
		}
		@media #{$md}{
			height: calc(100vh - #{$header-height + $padding-xs});
		}
	  width: 100%;
	}
	#{$inner}{
		background-size: cover;
    background-position: center;
    display: inline-block;
		width: 100%;
		height: 100%;
		@media #{$tablet}{
			height: calc(100% - 0);
		}
	}
	@media #{$md}{
		.admin-menu #{$outer}{
			height: calc(100vh - #{$header-height + $padding-xs} - 20px);
		}
	}
}

@mixin gapped-buttons($gap: 5px, $flex: 0 0 calc(50% - 5px),$child-selector: '> *'){
	justify-content: space-between;
	display: flex;
	// margin-left: -$gap;
	// margin-right: -$gap;
	#{$child-selector}{
		// margin-left: $gap;
		// margin-right: $gap;
		flex: #{$flex};
		width: 50%
	}
}