@mixin pricing-table(){
	table{
		margin-top: $padding-xs;
		width: 100%;
		@media #{$sm}{
			width: auto;
		}
	}
	th{
		font-weight: normal;
		text-transform: uppercase;
		font-size: $font-smallest;
	}
	td:first-child{
		text-transform: uppercase;
		text-align: left;
	}
	td, th{
		border-bottom: none;
		padding: 3px 0;
		@media #{$sm}{
			padding: 6px 25px;
			text-align: center;
		}
	}
	@media #{$mobile}{
		th{
			display: none;
		}
		td{
			display: block;
		}
	}
	// table details
	table + p{
		margin-top: $padding-xs;
		font-size: $font-smallest;
	}
}



.webform-component-field-wrapper{
	border: 1px solid $border-color;
	padding: 1rem;
	&.webform-component--billets .form-item{
		display: inline-block;
	}
}

.webform-submit{
	margin-top: 1rem;
}

body{
	.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary{
		@include button();
	}
}

// RESERVATION

.ds-1col.node.node-webform{
	@media #{$lg}{
		margin: auto;
	}
}
// hide as this is set via JS
.webform-component--concert	{
	display: none;
}

.page-tickets{
	.view-concerts .node-concert.selected{
		background: transparentize($light-grey, .5);
		// MONSTER HACK MAHHAMAHAMAH
		box-shadow: inset 0 0 0 5px white;

	}
	.panel-1col{
		width: 100%;
	}
	.node-webform{
		display: none;
	}
	h2.pane-title{
		text-transform: uppercase;
		font-size: 2rem;
		display: block;
		margin: auto;
		text-align: center;
		font-weight: $bold;
		margin-bottom: 2rem;
	}
}
.page-reserver, .page-tickets{
	.field-name-title-field{
		font-size: $font-large;
		font-weight: $bold;
	}
	.field-name-field-date{
		font-weight: normal;
	}
	@media #{$sm}{
		.field-name-field-venue .field-item:before{
			content: '-';
			float: left;
			margin: 0 .5rem;
		}
		.pane-node .pane-content{
			display: flex;
			flex-flow: wrap;
		}
		.field-name-field-type{
			flex: 0 0 100%;
		}
		.field-name-title-field{
			flex: 0 1 100%;
			@media #{$md}{
				flex: 0 1 30%;
			}
		}
	}
	.webform-component-field-wrapper{
		@extend .col-xs-12;
	}

	.webform-component--infos{
	  padding: 0 $padding-container-mobile;
		text-align: center;
		p{
			margin-bottom: 0;
		}
	}

	.form-actions{
		@media #{$mobile}{
			width: 100%;
			padding: 0 $padding-container-mobile;
		}
		@media #{$tablet}{
			width: 200px;
		}
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.webform-component--details{
	@media #{$sm}{
		display: flex;
		flex-flow: row wrap;
		margin-left: -5px;
		margin-right: -5px;
		.webform-component {
			flex: 0 0 50%;
			padding: 0 5px;
		}
	}
}

.webform-component--billets{
	display: inline-flex;
	flex-wrap: wrap;
	@media #{$md}{
		max-width: 50%;
	}
	.webform-component-number{
		label{
			font-size: $font-smallest;
			margin-bottom: 0;
			// HACK
			@media #{$mobile}{
				height: 2.5rem;
			}
		}
		.field-prefix{
			font-size: $font-small;
		}
		padding: 0 5px;
		text-align: center;
		margin-bottom: $padding-xs;
		flex: 0 0 25%;
		select{
			max-width: 50px;
			display: block;
			margin: auto;
			margin-top: .65rem;
		}
	}
}

// ABONNEMENT

.webform-component-matrix{
	@extend .col-xs-12;
	// center the buttons
	text-align: center;
	input[type="submit"]{
		width: auto;
	}
}

.page-tickets, .page-abonnements{
	h1{
		font-size: $font-large;
		font-weight: $bolder;
		text-align: center;
	}
	@media #{$mobile}{
		$views-width: 60vw;
		.pane-concerts-panel-pane-1{
			margin: 0 0 -$padding-container-mobile 0;
			width: 100vw;
			padding: 0;
		}
		.view-concerts{
			padding: 0;
			.node:last-child{
				padding-right: $padding-container-mobile!important;
			}
		}
		.view-content{
			justify-content: space-between;
			margin-left: -5px;
			margin-right: -5px;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;
			padding: 0 $padding-container-mobile;
			scroll-snap-type: proximity;
			scroll-snap-points-x: repeat($views-width);
		}
		.node-concert{
			flex: 0 0 $views-width;
		}
	}
	.view-concerts{
		@extend .col-sm-10;
		@extend .col-sm-offset-1;
		@extend .col-md-8;
		@extend .col-md-offset-2;
		.node-concert{
			padding-left: 5px!important;
			padding-right: 5px!important;
			display: flex;
			flex-flow: column;
		}
		.field-name-field-date{
			display: flex;
			flex-grow: 10;
			align-items: flex-end;
		}
		.group-buttons{
			display: none;
		}
	}
	.view-content{
		display: flex;
	}
	.panel-separator{
		margin-top: $padding-large;
		clear: both;
	}
	// price grid
	.pane-node .field-name-body{
		@media #{$sm}{
			text-align: center;
		}
		table, h3{
			margin: auto;
		}
		h3{
			text-align: center;
			font-weight: $bolder;
			margin-bottom: $padding-xs;
			font-size: $font-small;
			@media #{$sm}{
				font-size: $font-xlarge;
			}
			@media #{$md}{
				max-width: 60vw
			}
		}
		@include pricing-table();
		@media #{$mobile}{
			td:first-child{
				font-weight: $bold;
				margin-top: 10px;
			}
			td:before{
				width: 45%;
				display: inline-block;
				margin-bottom: .5rem;
			}
		}

	}
	.form-actions{
		text-align: center;
		clear: both;
		input{
			width: auto!important;
			@include button($color: $brand-color);
			min-width: 10rem;
		}
	}

	.webform-component--facturation-{
		float: none!important;
		margin: auto;
		// needed otherwise element goes on top of other
		clear: both;
	}
	.webform-component-field-wrapper:not(.inline-wrapper),.webform-component--infos{
		@extend .col-xs-12;
		@extend .col-md-6;
		@extend .col-md-offset-3;
		border: none;
	}
	
	// Table Matrix
	
	#edit-abonnes-0-table{
		select, input{
			margin-bottom: 0;
		}
		select{
			-webkit-appearance: menulist;
		}
		thead{
			display: none;
		}
		tbody{
			display: flex;
			justify-content: center;
			flex-flow: row wrap;
		}
		tr{
			@media #{$mobile}{
				&:not(:first-child){
					border-top: 1px solid $brand-color;
					margin-top: 1.5rem;
					padding-top: 1rem;
				}
			}
			padding: 0;
			@media #{$tablet}{
				flex: 0 1 33.333333%;
				padding: 0 8px;
				border-top: none!important;
				margin-bottom: 2rem;
			}

			// remove the added tr which is empty
			&:last-child{
				display: none;
			}
			display: inline-flex;
			flex-flow: row wrap;
			justify-content: space-between;
		}
		td{
			flex: 0 1 calc(50% - 10px);
			@media #{$tablet}{
				// flex: 0 1 100%;
			}
			&:nth-last-child(2){
				flex: 0 1 100%;
			}
			border-bottom: none;
			padding: 5px 0px;
			&:before{
				font-size: $font-small;
		    margin-bottom: .5rem;
    		display: block;
			}
			&:empty:before{
				display: none!important;
			}
		}
	}
	$headers: (
		'.i18n-en': ('Category*', 'Rate*', 'First Name*', 'Last Name*', 'Email*', 'Renew*', 'Remarks'),
		'.i18n-fr': ('Categorie*', 'Tarif*', 'Prénom*', 'Nom*', 'Email*', 'Renouvellement*', 'Remarques')
	);
	@each $lang, $columns in $headers {
		&#{$lang} #webform-client-form-125{
			@for $i from 1 through length($columns){
				td:nth-child(#{$i}):before{
					content: '#{nth($columns, $i)}';
				}
			}
		}
	}
	.webform-component--info{
		text-align: center;
		clear: both;
		width: 100%!important;
		@media #{$tablet}{
			p{
				margin-left: -5rem;
				margin-right: -5rem;
			}
		}
	}
}
.webform-component--info{
	@extend .col-xs-12;
}

.page-abonnements{
	.node-concert{
		pointer-events: none;
	}
}

.page-tickets {
	.view-concerts{
		.group-buttons{
			display: flex;
			min-height: 3rem;
			// .buy-link{
			// 	width: 100%;
			// 	flex: 1 0 100%;
			// }
			// .buy-button{
			// 	width: 100%;
			// }
		}
	}
}

@media #{$mobile}{
	$headers: (
		2: 'Plein Tarif',
		3: 'Tarif Réduit',
		4: '16-25 ans',
		5: '< 16 ans',
		);
	$headers_en: (
		2: 'Full Price',
		3: 'Reduced Fare',
		4: '16-26 years old',
		5: 'under 16',
		);
	@each $column, $pricing in $headers {
		.i18n-fr.page-abonnements td:nth-child(#{$column}):before {
			content: $pricing;
		}
	}
	@each $column, $pricing in $headers_en {
		.i18n-en.page-abonnements td:nth-child(#{$column}):before {
			content: $pricing;
		}
	}
}


.page-become-a-friend{
	// FRIENDS
	.webform-component-field-wrapper:not(.inline-wrapper){
		@extend .col-xs-12;
		@extend .col-md-6;
		border: none;
	}
	.panel-2col{
		@extend .row;
		width: 100%;
	}
	.panel-2col .panel-col-first{
		@extend .col-xs-12;
		@extend .col-sm-3;
		@media #{$sm}{
			@include full-height-section();
		}
	}
	.panel-2col .panel-col-last{
		@extend .col-xs-12;
		@extend .col-sm-9;
		@media #{$sm}{
			@include full-height-section();
		}
	}
	
	input[type="radio"]{
		vertical-align: top;
		transform: translateY(3px);
	}
}

// the forms
.webform-component-optionsmarkup{
	font-size: $font-small;
	label{
		max-width: calc(100% - 25px);
		margin-bottom: $padding-xs;
	}
	p{
		color: $brand-color;
		margin-bottom: 0;
	}
	li{
		margin-bottom: 0;
	}
	ul li:before{
		content: '-';
		margin-right: 5px;
	}
}
.webform-client-form{

	.webform-component-field-wrapper:not(.inline-wrapper){
		border: none;
	}
	.inline-wrapper{
		width: 100%;
		border: none;
		padding: 0;
	}
	
	.webform-component-markup{
		font-size: $font-smallest;
	}
	body:not(.page-reserver) .form-actions{
		@extend .col-xs-12;
		@media #{$sm}{
			input{
				width: auto;
				margin: auto;
				display: block;
			}
		}
	}

	// remove CADEAU in front of gift choices
	[for="edit-submitted-abonnement-cadeau"]{
		display: none;
	}
	#edit-submitted-abonnement-cadeau{
		.form-item{
			display: block;
		}
	}
	// display selected price
	#edit-submitted-abonnement-tarif{
		width: auto;
		font-size: $font-normal;
		padding: 0;
	}
	input[type="checkbox"] + label, input[type="radio"] + label{
		display: inline-block;
	}
	select, input[type="text"], input[type="email"]{
		width: 100%;
	}
}