@mixin pricing-table(){
	table{
		margin-top: $padding-xs;
		width: 100%;
		@media #{$sm}{
			width: auto;
		}
	}
	th{
		font-weight: normal;
		text-transform: uppercase;
		font-size: $font-smallest;
	}
	td:first-child{
		text-transform: uppercase;
		text-align: left;
	}
	td, th{
		border-bottom: none;
		padding: 3px 0;
		@media #{$sm}{
			padding: 6px 25px;
			text-align: center;
		}
	}
	@media #{$mobile}{
		th{
			display: none;
		}
		td{
			display: block;
		}
	}
	// table details
	table + p{
		margin-top: $padding-xs;
		font-size: $font-smallest;
	}
}



.webform-component-field-wrapper{
	border: 1px solid $border-color;
	padding: 1rem;
	&.webform-component--billets .form-item{
		display: inline-block;
	}
}

.webform-submit{
	margin-top: 1rem;
}

body{
	.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary{
		@include button();
	}
}

// RESERVATION

// hide as this is set via JS
.webform-component--concert	{
	display: none;
}

.page-reserver{
	.group-type-and-number{
		flex: 0 0 100%;
	}
	.field-name-title-field{
		font-size: $font-large;
		font-weight: $bold;
	}
	.field-name-field-date{
		font-weight: normal;
	}
	@media #{$sm}{
		.field-name-field-venue .field-item:before{
			content: '-';
			float: left;
			margin: 0 .5rem;
		}
		.pane-node .pane-content{
			display: flex;
			flex-flow: wrap;
		}
		.field-name-field-type{
			flex: 0 0 100%;
		}
		.field-name-title-field{
			flex: 0 1 100%;
			@media #{$md}{
				flex: 0 1 30%;
			}
		}
	}
	.webform-component-field-wrapper{
		@extend .col-xs-12;
	}

	.webform-component--infos{
		width: 50%;
		flex-basis: 100%;
		padding: 1rem 0 0 0;
		display: inline-block;
		vertical-align: top;
		p{
			margin-bottom: 0;
		}
	}

	.form-actions{
		width: 200px;
		display: inline-block;
	}
}

.webform-component--details{
	@media #{$sm}{
		display: flex;
		flex-flow: row wrap;
		margin-left: -5px;
		margin-right: -5px;
		.webform-component {
			flex: 0 0 50%;
			padding: 0 5px;
		}
	}
}

.webform-component--billets{
	display: inline-flex;
	flex-wrap: wrap;
	@media #{$md}{
		max-width: 50%;
	}
	.webform-component-number{
		label{
			font-size: $font-smallest;
			margin-bottom: 0;
		}
		.field-prefix{
			font-size: $font-small;
		}
		padding: 0 5px;
		text-align: center;
		flex: 0 0 25%;
		margin-bottom: $padding-xs;
		select{
			max-width: 50px;
			display: block;
			margin: auto;
			margin-top: .65rem;
		}
	}
}

// ABONNEMENT

.webform-component-matrix{
	@extend .col-xs-12;
	input[type="submit"]{
		width: auto;
		&:last-child{
			margin-left: 1rem;
		}
	}
}

.page-abonnements{
	h1{
		font-size: $font-large;
		font-weight: $bolder;
		text-align: center;
	}
	.view-concerts{
		@extend .col-sm-10;
		@extend .col-sm-offset-1;
		@extend .col-md-8;
		@extend .col-md-offset-2;
		@media #{$mobile}{
			.view-content{
				justify-content: space-between;
				margin-left: -5px;
				margin-right: -5px;
			}
			.field:not(.field-name-field-main-image){
				display: none;
			}
		}
		.views-row{
			pointer-events: none;
			padding-left: 5px!important;
			padding-right: 5px!important;
			display: flex;
			flex-flow: column;
		}
		.field-name-field-date{
			display: flex;
			flex-grow: 10;
			align-items: flex-end;
		}
		.group-buttons{
			display: none;
		}
	}
	.view-content{
		display: flex;
	}
	.panel-separator{
		margin-top: $padding-large;
		clear: both;
	}
	// price grid
	.pane-node .field-name-body{
		@media #{$sm}{
			text-align: center;
		}
		table, h3{
			margin: auto;
		}
		h3{
			text-align: center;
			font-weight: $bolder;
			margin-bottom: $padding-xs;
			font-size: $font-small;
			@media #{$sm}{
				font-size: $font-xlarge;
			}
			@media #{$md}{
				max-width: 60vw
			}
		}
		@include pricing-table();
		@media #{$mobile}{
			td:first-child{
				font-weight: $bold;
				margin-top: 10px;
			}
			td:before{
				width: 45%;
				display: inline-block;
			}
		}
	}

	.webform-component-field-wrapper:not(.inline-wrapper){
		@extend .col-xs-12;
		@extend .col-md-4;
		border: none;
	}
	
}
.logged-in .webform-component-field-wrapper:not(.inline-wrapper){
	@extend .col-md-offset-4;
}

@media #{$mobile}{
	$headers: (
		2: 'Plein Tarif',
		3: 'Tarif Réduit',
		4: '16-25 ans',
		5: '< 16 ans',
		);
	$headers_en: (
		2: 'Full Price',
		3: 'Reduced Fare',
		4: '16-26 years old',
		5: 'under 16',
		);
	@each $column, $pricing in $headers {
		.i18n-fr.page-abonnements td:nth-child(#{$column}):before {
			content: $pricing;
		}
	}
	@each $column, $pricing in $headers_en {
		.i18n-en.page-abonnements td:nth-child(#{$column}):before {
			content: $pricing;
		}
	}
}


.page-les-amis-du-geneva-camerata{
	// FRIENDS
	.webform-component-field-wrapper:not(.inline-wrapper){
		@extend .col-xs-12;
		@extend .col-md-6;
		border: none;
	}
	.panel-2col{
		@extend .row;
	}
	.panel-2col .panel-col-first{
		@extend .col-xs-12;
		@extend .col-sm-3;
		@media #{$sm}{
			@include full-height-section();
		}
	}
	.panel-2col .panel-col-last{
		@extend .col-xs-12;
		@extend .col-sm-9;
		@media #{$sm}{
			@include full-height-section();
		}
	}
	
	input[type="radio"]{
		vertical-align: top;
		transform: translateY(3px);
	}
}

// the forms
.webform-component-optionsmarkup{
	font-size: $font-small;
	label{
		max-width: calc(100% - 25px);
		margin-bottom: $padding-xs;
	}
	p{
		color: $brand-color;
		margin-bottom: 0;
	}
	li{
		margin-bottom: 0;
	}
	ul li:before{
		content: '-';
		margin-right: 5px;
	}
}
.webform-client-form > div{
	@extend .row;
	.webform-component-field-wrapper:not(.inline-wrapper){
		border: none;
	}
	.inline-wrapper{
		width: 100%;
		border: none;
		padding: 0;
	}
	
	.webform-component-markup{
		font-size: $font-smallest;
	}
	body:not(.page-reserver) .form-actions{
		@extend .col-xs-12;
		@media #{$sm}{
			input{
				width: auto;
				margin: auto;
				display: block;
			}
		}
	}

	// remove CADEAU in front of gift choices
	[for="edit-submitted-abonnement-cadeau"]{
		display: none;
	}
	#edit-submitted-abonnement-cadeau{
		.form-item{
			display: block;
		}
	}
	// display selected price
	#edit-submitted-abonnement-tarif{
		width: auto;
		font-size: $font-normal;
		padding: 0;
	}
	input[type="checkbox"] + label, input[type="radio"] + label{
		display: inline-block;
	}
	select, input[type="text"], input[type="email"]{
		width: 100%;
	}
}