@import "variables";
@import "fonts";
@import "fluid";
@import "reset";
@import "horz-tabs";
@import "theme";
@import "layout";
@import "menus";
@import "home";
@import "filters";
@import "webforms";
@import "static_pages";
@import "partners";
@import "hacks";


@mixin loading-gif(){
  background-color: rgba(255,255,255,.7);
  background-image: url($loader-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60px;
}

.loading{
  position: relative;
  &:before{
    position: absolute;
    z-index: 8000;
    background-color: rgba(255,255,255,.7);
    content: '';
    background-image: url($loader-url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
    width: 100%;
    height: calc(100vh - #{$header-height});
    display: inline-block;
  }
}

html, body{
  font-size: 16px;
}

body{
  @media #{$tablet}{
    padding-top: $header-height;
  }
  &.page-concerts, &.node-type-concert{
    @media #{$tablet}{
    	height: 100vh;
    	overflow: hidden;
    }
  }
  letter-spacing: $letter-spacing-small;
}

.artist-row{
  margin-bottom: $padding-large;
  @media #{$mobile}{
    &:nth-child(2n+1){
      clear:left;
    }
  }
  @media #{$sm}{
    &:nth-child(2n+1){
      clear: none;
    }
    &:nth-child(4n+1){
      clear:left;
    }

  }
  @media #{$md}{
    &:nth-child(4n+1){
      clear: none;
    }
    &:nth-child(6n+1){
      clear:left;
    }
  }
}

.brand-color{
    color: $brand-color;
}

.debug-helpers{
  display: none;
}
.logged-in .debug-helpers{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  background: white;
  color: #111111;
  box-shadow: inset 0px 0px 1px #111111;
  display: inline-block;
  .size{
    text-align: center
  }
}

::selection{
  color: $brand-color;
  background-color: transparent;
}
::-moz-selection{
  color: $brand-color;
  background-color: transparent;
}