@import "variables";
@import "fonts";
@import "fluid";
@import "reset";
@import "horz-tabs";
@import "theme";
@import "layout";
@import "menus";
@import "home";
@import "filters";
@import "webforms";



html, body{
  font-size: 16px;
}

body{
  &:not(.node-type-webform ){
    @media #{$tablet}{
    	height: 100vh;
    	overflow: hidden;
    }
  }
  letter-spacing: $letter-spacing-small;
}

.debug-helpers{
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  background: white;
  color: #111111;
  box-shadow: inset 0px 0px 1px #111111;
  .size{
    text-align: center
  }
}
