.ajax-progress .throbber {
  float: none;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: 100% 100% !important;
}
.ajax-progress .message {
  display: none;
}
